.logoimg{
    height: 50px;
    margin: 10px 10px 10px 40px;
}

.header-section {
    background-color: white;
    height: 10px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    opacity: 0.7;
}

.header{
    height:75px;
    background-color:white;
    width:100%;
}
.header-top {
    margin-bottom: 0px;
    padding: 0px 22px;
    border-bottom: 1px solid #667792;    
    /*font-weight: bolder; */
}
body{
    margin:0px;
    padding:0px;
}
.logo{
    color:#663399;
    font-size:25px;
    font-family:verdana;
    text-align:left;
    margin-top:0px;
    float:left;
    margin:0px;
    line-height:50px;
    padding-left:9px;
}


.main-menu {
    float: right;
    list-style: none;
    margin-top: 15px;
}
.main-menu li {
    display: inline;
}

.main-menu li a {
    display: inline-block;
    color: black;
    text-transform: uppercase;
    margin-left: 30px;
    padding: 12px 25px;
    font-size: 14px;
    font-weight: bolder;
}
